{% extends 'base.html' %}
{% load i18n %}

{% block meta %}
<title>{% trans "My feed" %}</title>
{% endblock %}

{% block content %}
<h1>{% trans "My feed" %}</h1>
<hr>
<ul>
  {% for post in user.get_feed %}
  <li>
    <span>
      <h3>{{post.title}}</h3>
      <span class="date">{{post.date_created}}</span>

      {% if not post.seen %}
      <form action="{% url 'api-seen' %}" method="POST" class="subscribe-form">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{ post.pk }}">
        <button class="subscribe-button">{% trans 'Mark as seen' %}</button>
      </form>
      {% else %}
      {{post.seen.}}
      {% trans 'Seen' %}
      {% endif %}


    </span>
    <p>{{post.text}}</p>
  </li>
  {% endfor %}
</ul>
{% endblock %}