{% extends 'base.html' %}
{% load i18n %}

{% block meta %}
<title>{% blocktrans with username=object.user.username %}{{ username }}'s blog{% endblocktrans %}</title>
{% endblock %}

{% block content %}
<h1>{% blocktrans with username=object.user.username %}{{ username }}'s blog{% endblocktrans %}</h1>
<hr>
<h2>
  {% trans 'Posts:' %}
</h2>
<ul>
  {% for post in object.posts %}
  <li>
    <span>
      <h3><a href="{% url 'blog-post-detail' pk=post.pk %}">{{post.title}}</a></h3>
      <span class="date">{{post.date_created}}</span>
    </span>
    <p>{{post.text}}</p>
  </li>
  {% endfor %}
</ul>
{% endblock %}